{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "message": "chore(RELEASE): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }]
  ]
}
